{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Generador de Contraseñas!{% endblock %}</title>
</head>
<style>
    .custom-h1 {
    color: #F2F4F5;
}
</style>
<body class="content">
    {% block pagecontent %}
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1">Aproveche el poder de las contraseñas seguras</h1>
            <p class="col-lg-10 fs-4">Contraseñas simples, seguridad sólida
                Tu guardián digital te espera
                Protección con contraseña sin esfuerzo.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="{% url 'generate_password' %}" method="post">
                    {% csrf_token %}
                    <h3>Genera tu contraseña ahora!</h3>
                    <br>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="length" name="length">
                        <label for="length">Longitud o tamaño</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="caps" name="caps">
                        <label class="form-check-label" for="caps">Mayusculas</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="numbers" name="numbers">
                        <label class="form-check-label" for="numbers">Numeros</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="special_chars" name="special_chars">
                        <label class="form-check-label" for="special_chars">Caracteres especiales</label>
                    </div>
                    <br>
                    <button class="w-100 btn btn-lg btn-warning" type="submit">Generar contraseña</button>
                    <hr class="my-4">
                    <small class="text-body-secondary">Para una contraseña más segura recomendamos activar todas las opciones!.</small>
                    <br>
                    <br>
                    {% if password %}
                    <div class="alert alert-light" role="alert">
                        Your password was created: <h4 id="userPassword">{{ password }}</h4>
                        <button id="copy-button" class="btn btn-warning" onclick="copyContent()">Copy!</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>